/* MEDIA QUERIES */

@media (max-width: 1258px) {
  .header-cont_barraBusqueda {
    width: 50%;
  }

  .header-cont_barraBusqueda input {
    width: 60%;
  }

  .header-inicioSesion_inicio {
    font-size: 13px;
    font-weight: 900;
    gap: 1px;
  }
  .header-inicioSesion_inicio img {
    width: 15%;
  }
  /* PRODUCTOS */
  .cont-productos_productos-menu {
    width: 100%;
  }
  .cont-productos_productos {
    width: 80%;
  }
  .footer_coctacto img {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-Menu {
    display: none;
  }
  .header-logo img {
    width: 100%;
    margin-left: 10px;
  }
  .header-cont_barraBusqueda {
    width: 40%;
  }
  .header-cont_barraBusqueda input {
    width: 100%;
  }

  .header-inicioSesion_inicio {
    font-size: 0px;
    font-weight: 0;
    gap: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .header-inicioSesion_inicio img {
    width: 20%;
  }
  /* ARTICLE/ENLACE-PRODUCTOS */
  .article-enlaces-a-Prudcutos {
    gap: 10px;
  }
  /* PRODUCTOS */
  .cont-productos_productos-menu {
    width: 100%;
  }
  .cont-productos_productos {
    width: 100%;
  }
  button {
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-Menu {
    display: block;
    width: 20%;
    display: flex;
    align-items: center;
  }
  .header-Menu img {
    width: 70%;
  }
  .header-logo {
    width: 25%;
    margin-right: 10px;
  }

  .header-cont_barraBusqueda {
    display: none;
  }

  .header-inicioSesion {
    display: none;
  }

  /*  */
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .article img {
    margin: 10px;
    border-radius: 10px;
    width: 90%;
  }

  /*      */
  .cont-productos {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 1000px;
    gap: 10px;
  }
  .cont-productos_productos-menu {
    background-color: black;
  }
  .cont-productos_productos-menu ul li {
    font-size: 0.7em;
  }

  .cont-productos_productos-galeriaProductos {
    display: flex;
    flex-direction: column;
  }

  .galeriaProductos {
    display: flex;
    gap: 20px;
    height: 800px;
  }
  .galeriaProductos img {
    margin: 20px;
  }

  button {
    margin-bottom: 20px;
  }

  .laysNone {
    display: none;
  }

  .footer {
    height: 150px;
    font-size: 15px;
    margin-top: 90px;
  }
  .footer_coctacto img {
    display: none;
  }
}
